<!DOCTYPE html>
</head>
<body class="container">
    <!-- Cria um cabeçalho -->
    <h1>Adicionar Item ao Estoque</h1>

    <!-- Cria um formulário com o método de envio POST -->
    <form method="post" class="item-form">
      <!-- Adiciona um token CSRF para proteção contra CSRF -->
      {% csrf_token %}

      <!-- Renderiza os campos do formulário como parágrafos -->
      {{ form.as_p }}

      <!-- Cria um botão de submissão do formulário -->
      <button type="submit" class="button">Adicionar Item</button>
      <a href="{% url 'lista_estoque' %}">Voltar para a Lista de Itens</a>
    </form>
  </body>
</html>
