<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Item</title>
    <link rel="stylesheet" type="text/css" href="/static/itens_estoque/css/estoque.css" />
</head>
<body>
    <h1>Detalhes do Item</h1>
    
    <p><strong>Nome:</strong> {{ item.nome }}</p>
    <p><strong>Descrição:</strong> {{ item.descricao }}</p>
    <p><strong>Quantidade Disponível:</strong> {{ item.quantidade }}</p></br>
    
    <a href="{% url 'editar_item' item.id %}">Editar</a> </br>
    <a href="{% url 'verificar_exclusao' item.id %}">Excluir</a></br>
    <a href="{% url 'lista_estoque' %}">Voltar para a Lista de Itens</a></br>
</body>
</html>

